
        body{
        background:white;
        }
        /*virtuali klase*/
        *{
        box-sizing:border-box;
        }
        /*calculiatorius*/
        .wrap{
        width:300px;
        margin:auto;
        height:400px;
        background:gray;
        border: 3px solid black;
        padding:10px;
        border-radius: 20px;
        }
        /*ekranas*/
        input[type=text]{
        background-color:lightsteelblue;
        width:100%;
        padding:5px;
        font-size:22px;
        font-height: bold;
        margin-top:20px;
        border-radius:5px;
        border-color: black;
        }
        /*mygtukas*/
        input[type=button]{
        background-color: brown;
        color: white;
        width:63px;
        padding:5px;
        font-size:22px;
        font-height:bold;
        border-radius:5px;
        border-color: black;
        }
        /*Clear mygtukas*/
        #del{
        width:48%;
        }
        /*lygybes mygtukas*/
        #equal{
        width:48%;
        }
       /*mous*/
        input:hover {
            background-color:skyblue;
            color: black;
        }
       